@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--theme-dark-background);
    color: var(--theme-dark-primary);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--theme-light-background);
    color: var(--theme-light-primary);
  }
}
